@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = new int();
    int year = System.DateTime.Now.Year;
    int tahun = new int();
    string load = ViewBag.load;
}
<div style="width:100%;">
    <h2>Timesheet @load</h2>
    @using (Html.BeginForm("Search", "TSCollection", FormMethod.Post, new { id = "aForm" }))
    {
        <div class="row">
            <div class="col-md-3">
                <select id="client" name="client" class="form-control" required oninvalid="this.setCustomValidity('Wajib Pilih')"
                        oninput="this.setCustomValidity('')">
                    <option value="">--Pilih Client-- </option>
                    @foreach (var client in ViewBag.client)
                    {
                        <option value="@client.name">@client.name</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select id="namaPgw" name="namaPgw" class="form-control" required oninvalid="this.setCustomValidity('Wajib Pilih')"
                        oninput="this.setCustomValidity('')">
                    <option value="">--Pilih Nama--</option>
                    @foreach (var namaPgw in ViewBag.nama)
                    {
                        <option value="@namaPgw.fullname">@namaPgw.fullname</option>
                    }
                </select>
            </div>


            <div class="col-md-3">
                <select id="bulan" name="bulan" class="form-control">
                    <option value="13">-- Pilih Bulan --</option>
                    <option value="1">Januari</option>
                    <option value="2">Februari</option>
                    <option value="3">Maret</option>
                    <option value="4">April</option>
                    <option value="5">Mei</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">Agustus</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Desember</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="tahun" name="tahun" class="form-control">
                    <option value="13">-- Pilih Tahun --</option>
                    @for (i = 0; i < 11; i++)
                    {
                        tahun = year - i;
                        <option value="@tahun">@tahun</option>
                    }
                </select>
            </div>
        </div>
    }


</div>
<div style="width:100%">
    @if (load == "empty" || load == null)
    {
        <hr style="border: 2px solid white">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-secondary" disabled> Reset</button>
                <button type="button" class="btn btn-secondary" disabled> Submit</button>
            </div>
        </div>
    }
    else
    {

        <table class="table table-striped">
            <tr>
                <th>Status</th>
                <th>Tanggal</th>
                <th>Client</th>
                <th>#</th>
            </tr>
            @foreach (var item in ViewBag.data)
            {
                <tr>
                    <td>@item.status</td>
                    <td>@item.timesheet_date</td>
                    <td>@item.name</td>
                    <td>
                        <button type="button" class="btn btn-primary clsBtnDetail" detailid="@item.id" data-toggle="modal" data-target="#exampleModal">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </td>
                </tr>
            }
        </table>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-secondary" id="reset"> Reset</button>
                <button type="button" class="btn btn-secondary" id="collect"> Collect</button>
            </div>
        </div>
    }
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header" style="background-color:#000066">
                    <h5 class="modal-title" id="exampleModalLabel"><font color="ffffff">Detail</font></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="idBodyModal">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->


</div>
<script>
    $(document).ready(function () {
            
        $(".clsBtnDetail").change(function () {
            var detail = $(this).attr('detailid');
            debugger;
            $.ajax({
                url: "/TSCollection/Detail/",
                data: { detail: detailid },
                method: "get",
                success: function (mdl) {
                    debugger;
                    $('#iBodyModal').empty();
                    $('#iBodyModal').html(mdl);
                    $('#exampleModal').modal("show");
                }
            });
        });

        $("#tahun").change(function () {
            $("#aForm").submit();
        });

        $("#reset").click(function () {
            window.location.href = '@Url.Action("Index", "TSCollection")';
        });


            
        
        });
</script>
